.floating-shapes {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.shape {
    position: absolute;
    opacity: 0.1;
    animation: float-around 20s infinite ease-in-out;
}

.shape.cross {
    font-size: 3rem;
    color: var(--primary-color);
}

.shape.dove {
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.shape.heart {
    font-size: 2rem;
    color: var(--accent-color);
}

.shape-1 {
    top: 10%;
    left: 10%;
    animation-delay: 0s;
    animation-duration: 25s;
}

.shape-2 {
    top: 20%;
    right: 15%;
    animation-delay: 3s;
    animation-duration: 30s;
}

.shape-3 {
    bottom: 20%;
    left: 15%;
    animation-delay: 5s;
    animation-duration: 28s;
}

.shape-4 {
    bottom: 30%;
    right: 10%;
    animation-delay: 7s;
    animation-duration: 35s;
}

.shape-5 {
    top: 50%;
    left: 5%;
    animation-delay: 2s;
    animation-duration: 32s;
}

.shape-6 {
    top: 60%;
    right: 20%;
    animation-delay: 4s;
    animation-duration: 27s;
}

@keyframes float-around {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(50px, 50px) rotate(90deg);
    }
    50% {
        transform: translate(-30px, 80px) rotate(180deg);
    }
    75% {
        transform: translate(-50px, -50px) rotate(270deg);
    }
}

